<div class="card border-warning">
    <div class="card-header bg-warning " style="height: 2.5rem;"></div>
    <form class="card-body text-warning" id="{{formId}}">
        <div class="card-title">
            <label for="newPostTitle">Title</label>
            <input type="text" class="form-control" id="newPostTitle" value="{{hbsData.title}}" placeholder="Title">
        </div>
        <div class="card-title">
            <label for="newPostContent">Content</label>
            <textarea class="form-control" id="newPostContent" rows="10"
                placeholder="Write your new post...">{{hbsData.content}} </textarea>
        </div>
        {{#if isEdit}}
        <input id="postId" type="hidden" value="{{hbsData.id}}">
        <div class="col-12 d-grid gap-2">
            <button class="btn btn-warning text-white mt-1" id="update">Update</button>
            <button class="btn btn-warning text-white" id="delete">Delete</button>
        </div>
        {{else}}
        <div class="col-12 d-grid gap-2">
            <button class="btn btn-warning text-white">Create</button>
        </div>
        {{/if}}
    </form>

</div>

<script src="/js/newPost.js"></script>