{{!-- blog post section --}}
<div class="card">
    <div class="card-header bg-warning text-white d-flex">
            <div class="h4 col-8">{{hbsData.title}}</div>
            <div class="row col-4">Posed by {{hbsData.user.username}} on {{dateFormatterHelper hbsData.createdAt}}</div>
    </div>
    <div class="card-body">
        {{hbsData.content}}
    </div>
</div>

{{!-- previous comment section --}}

<div class="card my-2">
    <div class="card-header bg-light">
    {{#each hbsData.comments}}
        <div class="card-body">
            <div class="h6 row">
                {{comment}}
            </div>
            <small class="row text-muted">
                Comented by {{user.username}} on {{dateFormatterHelper user.createdAt}} 
            </small>
        </div>
    {{/each}}            
    </div>

</div>


{{!-- add comment section --}}
<div class="card">
    <form class="g-3 card-header" id="comment">
        <div class="form-group">
            <label for="addComment">Comment</label>
            <textarea class="form-control" id="addComment" rows="3" placeholder="Leave your omment"></textarea>
        </div>
        <input type="hidden" id="blogpostId" value={{hbsData.id}}>
        <div class="col-12 d-grid gap-2">
            <button class="btn btn-warning text-white my-2">Submit</button>
        </div>
    </form>
</div>

<script src="/js/addComment.js"></script>